@import "screen/board.css";
@import "screen/boardDtl.css";
@import "screen/commentUpdate.css";
@import "screen/post.css";
@import "screen/update.css";


html{
    position: relative;
    min-height: 100%;
    margin: 0;
}
body{
    min-height: 100%;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}
.navbar{
    height: 150px;
    border-bottom: 2px solid;
}
.navbar-brand{
    text-decoration-line: none;
}

.pagination{
    justify-content: center;
}



